<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">Hakkımızda</h3>
					<p>Birbirinden yetenekli blogger ve yazarlarımızla güncel ve ilgi çekici konularda içerikler üretiyoruz.</p>
				</div> <!-- /.widget -->
				 <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4 ps-lg-5">
				<div class="widget">
					<h3 class="mb-4">Blogy Core Project</h3>
					
					<ul class="list-unstyled float-start links">
						<li><a href="/Register/Index/">Kariyer</a></li>
						<li><a href="/Blog/BlogList/">Blog</a></li>
						<li><a href="/Login/Index/">Giriş Yap</a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			 <!-- /.col-lg-4 -->
		</div> <!-- /.row -->

		<div class="row mt-5">
			<div class="col-12 text-center">
				<!--
					**==========
					NOTE:
					Please don't remove this copyright link unless you buy the license here https://untree.co/license/
					**==========
				  -->

				<p>
					Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a>  Distributed by <a href="https://themewagon.com">ThemeWagon</a> <!-- License information: https://untree.co/license/ -->
				</p>
			</div>
		</div>
	</div> <!-- /.container -->
</footer>