
@{
    Layout = null;
}

<link rel="stylesheet" href="~/01/Default/assets/css/vendor.min.css?v=1557518172230">
<link rel="stylesheet" href="~/01/Default/assets/css/styles.min.css?v=1557518172230">
<link rel="stylesheet" href="~/01/Default/assets/css/custom.css?v=1557518172230">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Open+Sans:300,400&v=1557517928137" rel="stylesheet">
<div class="columns is-variable is-multiline">
    <div class="column is-half is-offset-one-quarter has-text-centered">
        <div class="content-404 content">
            <h1>403!</h1>
            <h2>SAYFAYA ERİŞİMİNİZ BULUNMAMAKTADIR.</h2>
            <p>Aradığınız sayfaya erişiminiz bulunmuyor. Benimle bir kahve molası verin veya Ana Sayfaya dönün. </p>
            <p>
                <span class="icon">
                    <i class="icon-cup"></i>
                </span>
            </p>
            <a class="button" href="/Blog/BlogList/">
                <span class="icon">
                    <i class="icon-home"></i>
                </span>
                <span>Anasayfa</span>
            </a>
        </div>
    </div>
</div>

<script src="~/01/Default/assets/js/vendor.min.js?v=1557518172230"></script>
<script src="~/01/Default/assets/js/scripts.min.js?v=1557518172230"></script>
<script src="~/01/Default/assets/js/custom.js?v=1557518172230"></script>