

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Blogy | Admin Paneli</title>
    <link rel="stylesheet" href="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/css/style.css" />
    <link rel="shortcut icon" href="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/favicon.png" />
</head>
<body>


    <div class="container-scroller">

        <nav class="sidebar sidebar-offcanvas" itemid="sidebar">
            @await Component.InvokeAsync("AdminLayoutSidebarComponentPartial")

            
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Dashboard/Index">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Blog/Index/">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Bloglar</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Writer/WriterList">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Yazarlar</span>
                        </a>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Category/CategoryList">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Kategoriler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Notification/NotificationList">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Bildirimler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Comment/Index">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Yorumlar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        <span class="menu-title">Mesajlarım</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Message/Inbox/">Gelen Mesajlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Message/Outbox/">Giden Mesajlar</a>
                            </li>

                        </ul>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/LogOut/LogOut/">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">

            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles light"></div>
                    <div class="tiles dark"></div>
                </div>
            </div>
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="../../index.html"><img src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("AdminLayoutMessageComponentPartial")

                        
                        
                    </ul>
                    <ul class="navbar-nav navbar-nav-right ml-lg-auto">
                        
                        @await Component.InvokeAsync("AdminLayoutNavbarComponentPartial")

                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>


            <div class="main-panel">
            @RenderBody()

            </div>

        </div>

    </div>


    <script src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/js/off-canvas.js"></script>
    <script src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/js/hoverable-collapse.js"></script>
    <script src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/js/misc.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>

</body>
</html>