

<li class="nav-item nav-profile dropdown border-0">
    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
        <img class="nav-profile-img mr-2" alt="" src="@ViewBag.picture" />
        <span class="profile-name">@ViewBag.Name</span>
    </a>
    <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
        
        <a class="dropdown-item" href="/LogOut/LogOut/">
            <i class="mdi mdi-logout mr-2 text-primary"></i> Çıkış Yap
        </a>
    </div>
</li>