@model List<Blogy.EntityLayer.Concrete.Article>

<div class="col-xl-8 col-sm-6 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body px-0 overflow-auto mt-20">
            <h4 class="card-title pl-4" style="color:blueviolet">Blog Listesi</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                        <tr>
                            <th> #</th>

                            <th>Blog Başlığı</th>
                            <th>Tarih</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="@item.CoverImageUrl" alt="image" />
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">

                                        <div class="table-user-name ml-3">
                                            <p class="mb-0 font-weight-light">@item.Title </p>
                                        </div>
                                    </div>
                                </td>

                                <td>@item.CreatedDate.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>