@model List<Blogy.EntityLayer.Concrete.Article>

<section class="section posts-entry posts-entry-sm bg-light">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-uppercase text-black">Son Eklenen 4 Blog</div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-6 col-lg-3">
                <div class="blog-entry">
                    <a href="/Blog/BlogDetail/@item.ArticleId" class="img-link">
                        <img src="@item.CoverImageUrl" alt="Image" class="img-fluid" style="height:100px">
                    </a>
                    <h2>@item.Title</h2>
                        <p>@(item.Description.Length < 200 ? item.Description : item.Description.Substring(0, 200) + "...")</p>
                    <p><a href="/Blog/BlogDetail/@item.ArticleId/" class="read-more">Okumaya Devam et...</a></p>
                </div>
            </div>
            }
        </div>
    </div>
</section>