

<div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="../../index.html"><img src="@ViewBag.picture" alt="logo" style="border-radius: 50%;" /></a>
</div>


<ul class="nav">
    <li class="nav-item">
        <a href="#" class="nav-link">
            <div class="nav-profile-text d-flex flex-column pr-3">
                <span class="font-weight-medium mb-2">@ViewBag.name</span>
            </div>
        </a>
    </li>
