@model Blogy.EntityLayer.Concrete.Notification
@{
    ViewData["Title"] = "CreateNotification";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title ml-3">Yeni Bildirim Ekle</h3>
        <h1>@ViewBag.id</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bildirim İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Yeni Bildirim</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Bildirim Ekleme Paneli</h4>
                    <p class="card-description">
                        Aşağıdaki alanları eksiksiz doldurarak yeni bir bildirim oluşturabilirsiniz.
                    </p>
                    <form method="post">
                        <label>Başlık</label>
                        <input type="text" asp-for="Title" name="Title" class="form-control" />
                        <br />
                        <label>Açıklama</label>
                        <input type="text" asp-for="Description" name="Description" class="form-control" />
                        <br />
                        <label>Tarih</label>
                        <input type="datetime" asp-for="CreatedDate" name="CreatedDate" class="form-control" />
                        <br />
                        <button class="btn btn-info">Bildirimi Kaydet</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

